li {
  width: 100%;
}
.param-icons {
  margin: 0px 10px;
  color: #5f6769;
  text-align: right;
}
#today-parameters {
  margin-top: 50px;
}
.list-group-item {
  border: none;
  background: transparent;
}
