form {
  background: #bfcfff;
  padding: 15px;
}
input {
  border-radius: 15px;
}
.input-box-label {
  color: #5f6769;
  font-weight: bold;
  padding-top: 9px;
  font-size: 18px;
  text-align: right;
}
.search-box {
  line-height: 30px;
  border-color: darkgray;
  border: none;
  padding: 0px 15px;
  margin-top: 7px;
}
.search-row {
  padding: 20px;
}

.search-box {
  width: 100%;
}
.App button {
  padding: 10px 30px;
}
.search-row {
  padding: 0;
}
.App .search-row {
  padding: 0;
}
.card-header {
  min-height: 185px;
  background: #bfcfff;
}

.top-row {
  padding: 30px 0px;
}
.celsius {
  font-size: 15px;
}
span {
  position: relative;
  top: -45px;
  right: -80px;
}
.current-comment-container {
  text-align: center;
  margin-top: -45px;
}
.today-temperature {
  text-align: center;
}
.today-icon {
  width: 80px;
  display: block;
  margin: auto;
}
.card-img-top {
  width: 55px;
}
li {
  width: 100%;
}
.param-icons {
  margin: 0px 10px;
  color: #5f6769;
  text-align: right;
}
#today-parameters {
  margin-top: 50px;
}
.list-group-item {
  border: none;
  background: transparent;
}

.spinner {
  width: 100%;
  text-align: center;
  padding: 100px;
}
