.my-no-padding {
  padding: 0px;
}
.WeatherForecast {
  margin: 12px;
}

.no-bk {
  background: transparent;
}

.no-border {
  border: none;
}

.gray-bk {
  background: lightgray;
}

.daily-stats-card h6 {
  font-weight: 900;
  letter-spacing: 2px;
}
.daily-stats-card:hover {
  border-color: #0074e4;
  border-width: 2px;
  transition: 3ms ease-in-out;
}
